{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "infection.log",
        "summary": "summary.log",
        "json": "infection-log.json",
        "perMutator": "per-mutator.md"
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true
    },
    "testFramework":"phpunit",
    "initialTestsPhpOptions": "-d zend_extension=xdebug -d xdebug.mode=coverage",
    "minMsi": 60,
    "minCoveredMsi": 70
}
